body{
    background: aqua;

}


.grid{
    width: 300px;
    height: 300px;
    border: 3px solid rgb(245, 134, 6);
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.grid div{
    width: 10px;
    height: 10px;
    /*border: 5px rgb(147, 34, 218) solid;
    box-sizing: border-box;    */
}

.button{
    margin: 20px 50px;
    padding: 5px;
    
}

.snake{
    background: rgb(255, 34, 0);   
}

.apple{
    background: yellow;
    border-radius: 20px;
    
}

.popup{
    background: green;
    width: 100px;
    height: 40px;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 50%;
    display: flex;
}

