body {
    background: #ecdddd;
    margin: 0px;
    height: 100%;

}


.grid {
    width: 400px;
    height: 400px;
    border: 3px solid rgb(34, 33, 32);
    background-color: rgb(47, 144, 8);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.grid div {
    width: 20px;
    height: 20px;
}

.button {
    margin: 20px 40%;
    padding: 5px;

}

.snake {
    background: rgb(235, 204, 7);
}

.apple {
    background: rgb(248, 8, 8);
    border-radius: 20px;

}

.popup {
    background: rgb(24 27 24);
    width: 100px;
    height: 40px;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 60px;
    left: 75%;
    display: block flow;
}


/* Button arrow */
@import url(https://fonts.googleapis.com/css?family=Lato:300);

html {
    background: radial-gradient(#000, #111);
    height: 100%;
}

.keys {
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 250px;
    height: 130px;
    background-color: #ecdddd;
    margin: 15px 0px 0px 600px;
    padding: 4px 40px;
}

.arr {
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: grey;
    color: blue;
    font-size: 50px;
    border-right: 10px solid darken(grey, 20);
    border-bottom: 10px solid darken(grey, 20);
    border-left: 10px solid darken(grey, 15);
    border-top: 10px solid darken(grey, 10);
    display: inline-block;
    margin: 5px;
    transition: all .05s linear;

    /* &:active {
        border-bottom: 8px solid darken(grey, 20);
        text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
        transform: translate(0, 2px);
    }

    user-select: none; */
}

.up {
    position: relative;
    top: -4px;
}

.pressed {
    border-bottom: 8px solid darken(rgb(17, 7, 7), 20);
    text-shadow: 0 0 10px white;
    transform: translate(0, 2px);
}

.names {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}

.b {
    color: blue;
    text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
    font-size: 100px;
    font-family: serif;
}

.a {
    color: yellow;
    text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}